:root {
    --font-family: -apple-system, 'system-ui', sans-serif;
    --font-family-mono: Menlo, source-code-pro, Monaco, 'Courier New', monospace;
}

.mono {
    font-family: var(--font-family-mono);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    color-scheme: dark;
    scroll-behavior: auto;
    font-size: 18px;
    text-size-adjust: 100%;
    justify-content: space-between;
    font-family: var(--font-family) !important;
    /* -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: antialiased !important; */
}

body {
    margin: 0;
    font-family: var(--font-family);
    line-height: 1.6;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: none;
    caret-shape: auto;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: #c0c1c2;
    background-color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
a,
b,
i,
table,
tbody,
th,
tr,
figure {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

::selection {
    color: #111111;
    background: #bc799f;
}

/******************************/
/*-------- Formating --------*/
/******************************/
p {
    color: #c0c1c2;
}

em {
    color: #bfc271;
    font-style: italic;
}

strong {
    color: #d76565;
}

/******************************/
/*-------- Blockquote --------*/
/******************************/

blockquote {
    margin: 0;
    padding: 10px;
    font-style: normal;
    text-decoration: none;
    color: #bc799f;
}

blockquote p::before {
    content: "»";
}

blockquote p::after {
    content: "«";
}

blockquote footer {
    width: 100%;
    font-style: italic;
    color: #dc8fbb;
}

/******************************/
/*---------- Table -----------*/
/******************************/

table {
    border-collapse: collapse;
    font-size: 0.9rem;
    border: 1px solid #888888;
}

th,
td {
    padding: 10px;
    border: 1px solid #888888;
}

/******************************/
/*---------- Links -----------*/
/******************************/

a {
    color: #4984c8;
    text-decoration: underline;
    cursor: auto;
}

a:hover {
    color: #77b1f4;
    cursor: pointer;
}

/******************************/
/*---------- INPUT -----------*/
/******************************/

input {
    font-size: 1rem;
    min-height: 35px;
    border-radius: unset;
    outline: unset;
    background: unset;
    border: unset;
}

textarea {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    box-sizing: border-box;
    background: none;
    border: 1px solid #556b78;
    color: #7dacaa;
    caret-color: #ff6161;
    resize: none;
    outline: none;
    overflow: hidden;
    scroll-behavior: auto;
    overscroll-behavior: none;
}

textarea:focus {
    background-color: #7dacaa05;
}

/******************************/
/*--------- video ---------*/
/******************************/

video {
    width: 100%;
    outline: none;
}

/******************************/
/*------------ button --------*/
/******************************/

button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-weight: 400;
    border: none;
    background: none;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    box-sizing: border-box;
    flex-shrink: 0;
}

/******************************/
/*-------- Customization -----*/
/******************************/

p.md-center {
    width: 100%;
    text-align: center;
}

p.md-right {
    width: 100%;
    text-align: right;
}

p.md-tilde {
    color: white;
}

div.warn div {
    color: #ff6161;
    border: 1px solid #ff6161;
    padding: 20px;
}

div.warn div p:first-child::before {
    content: "⚠ ";
    font-size: 1.2rem;
}


.code {
    font-family: var(--font-family-mono);
    font-size: 0.8rem;
    color: #888888;
    border: none;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 0;
    margin: 0;
    outline: none;
}

/******************************/
/*------------ hr ------------*/
/******************************/
hr {
    size: 1px;
    margin-bottom: 10px;
    opacity: 0.5;
    border: inherit;
}

/******************************/
/*------ Material Icons ------*/
/******************************/

@font-face {
    font-family: 'MaterialIcons';
    font-style: normal;
    src: url('resources/MaterialIcons.ttf') format('truetype');
}

span.md-icon {
    font-family: 'MaterialIcons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    vertical-align: -2px;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}