html {
    font-size: 18px;
    font-family: Menlo, source-code-pro, Monaco, 'Courier New', monospace;
    background-color: #212227;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    padding: 20px;
    color: #75bbe7;
    box-sizing: border-box;
    overflow-x: hidden;
}

body,
p,
a,
b,
i,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tbody,
th,
tr,
figure {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #cb6582;
}

em {
    color: #daaa74;
}

blockquote {
    border-left: 2px solid #ccc;
    margin: 0px;
    padding: 20px;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid;
    padding: 10px;
}

div.md-center {
    width: 100%;
    text-align: center;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

div.md-right {
    width: 100%;
    text-align: right;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

div.poem {
    width: 100%;
    text-align: center;
    padding: 0px 20px;
    font-size: 21px;
    font-weight: inherit;
    color: inherit;
}

.hstack {
    color: #7d828e;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;

}

.columnLeft {
    width: 50%;
    gap: 0px;
    display: flex;
    color: #75bbe7;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.columnRight {
    font-size: 24px;
    font-family: -apple-system, 'system-ui', 'system-ui', sans-serif;
    width: 50%;
    gap: 0px;
    display: flex;
    color: #b5bac8;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}